@use "src/styles/variables" as *;

.wrapper {
	:global {
		.swiper-slide {
			width: 100%;
			height: 100%;
			position: relative;
			height: auto;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
		//.swiper-pagination-bullets {
		//	display: flex;
		//	justify-content: center;
		//	gap: .4rem ;
		//}
		//.swiper-pagination-bullet {
		//	background-color: $color-bg;
		//	opacity: 1;
		//	border: 1px solid $color-border-secondary;
		//	width: .6rem;
		//	height: .6rem;
		//	transition: all 0.2s ease-in-out;
		//	&:hover {
		//		background-color: $color-bg-secondary;
		//	}
		//}
		//.swiper-pagination-bullet-active {
		//	background-color: $color-bg-secondary;
		//}
		//.prevBtn,
		//.nextBtn {
		//	z-index: 99;
		//	position: absolute;
		//	top: 0;
		//	padding: 0.75rem;
		//	background-color: transparent;
		//}
		//.nextBtn {
		//	right: 0;
		//}
		//.prevBtn {
		//	right: 2.5rem;
		//}
		.swiper-thumbs {
			margin-top: 0.5rem;
			.swiper-slide {
				height: 7rem;
				width: 7rem !important;
				overflow: hidden;
				padding: 0.4rem;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				border: 1px solid transparent;
				&:not(.swiper-slide-thumb-active):hover {
					opacity: 0.85;
					border: 1px solid $color-border;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all 0.3s ease-in-out;
				}
			}
			.swiper-slide-thumb-active {
				border: 1px solid $color-secondary;
			}
		}
	}
}
.leftArrow,
.rightArrow {
	display: block;
	width: 1rem;
	height: 1rem;
	path {
		stroke: $color-tertiary;
	}
}
:global(.swiper-button-disabled) {
	.rightArrow path,
	.leftArrow path {
		stroke: $color-tertiary;
	}
}

////Tablet Cats Slider in Modal
//.wrapper.inTabletModal {
//	:global {
//		.swiper-slide {
//			height: 100%;
//			padding-bottom: 3.625rem;
//		}
//		.swiper-pagination-bullets {
//			bottom: 1.5rem;
//		}
//		.nextBtn {
//			left: 2.5rem + 2.2rem;
//			right: auto;
//		}
//		.prevBtn {
//			left: 2.2rem;
//			right: auto;
//			margin-right: 0.5rem;
//		}
//	}
//}
