@use "/src/styles/variables" as *;

.StoreItemPageContainer{
	width: 95%;
}

.spinnerWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 18rem;
}

.toastLink{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	text-align: center;
	transition: all 0.2s ease-in-out;
	user-select: none;
	&:hover{
		opacity: 0.9;
	}
}