@use "/src/styles/variables" as *;


.container {
	display: flex;
	width: 100%;
	gap: 0.7rem;
}

.sideBar {
	flex: 30%;
	min-width: 15rem;
	height: max-content;
	background-color: $color-bg-secondary;
	//border: 1px solid $color-border-secondary;
	border-radius: .4rem;
	padding: 0.5rem;
}

.main {
	//flex: 1 1 auto;
	flex: 70%;
	border: 1px solid $color-border-secondary;
	border-radius: .4rem;
	padding: 0.5rem;
}
