//colors
$color-primary: #4a565f;
$color-secondary: #212121;
$color-tertiary: #63707a;
$color-fourth: #192c27;
$color-accent: #dc143c;
$color-bg: #fcfcfc;
$color-bg-secondary: #ffffff;
$color-border: rgba(222, 222, 222, 0.4);
$color-border-secondary: #c4cad0;
$color-border-tertiary: #4a4343;

//fonts
$font-primary: "Mulish", sans-serif;
$font-secondary: "Montserrat Alternates", sans-serif;
$font-tertiary: "Indie Flower", cursive , sans-serif;
