@use "/src/styles/variables" as *;

.image-container {
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-height: 700px;
	height: 100%;
	padding: 0.9rem;
	animation: fadeIn 500ms forwards;

}

.loading-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 600px;
}

@keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

.lazy-loaded-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 1;
	animation: fadeIn 500ms forwards;
}
