@use "/src/styles/variables" as *;


.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 2rem;
}

.createAlbumBtn{
	padding: 0.5rem 1rem;
	margin: 0 auto 2.2rem auto;
	border-radius: 3px;
	border: 1px solid $color-border-secondary;
}