@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.6rem;
	font-weight: 700;
	color: $color-bg;
	height: 6rem;
	background: url('./../../assets/bg.webp') no-repeat center center;
	background-size: cover;
	margin-top: 5.19rem;

	@include large_desktop{
		font-size: 2rem;
		height: 5rem;
		font-weight: 600;
	}

	@include small_tablet{
		margin-top: 4.787rem;
	}
}