@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 1.5rem;
	padding: 1.8rem 10rem;
	background: $color-bg-secondary;
	box-shadow: 0px 0px 14px 1px rgba(44, 63, 82, 0.42);	

	@include full_desktop{
		padding: 1.5rem 3rem;
	}
	@include small_tablet{
		padding: 1.3rem 2rem;
	}
}

.cartIconContainer{
	margin-left: auto;
}

.cartIcon{
	width: 1.5rem;
	height: 1.5rem;
	color: $color-primary;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $color-secondary;
	}
}


