@use "/src/styles/variables" as *;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 22rem;
	height: 18rem;
	border: 1.7px solid $color-border-tertiary;
	padding: 1em;
	overflow: hidden;
}

.imgLink {
	overflow: hidden;
	height: 208px;
	margin-bottom: 0.9rem;
}
.container img {
	cursor: pointer;
	object-fit: cover;
	height: 100%;
	transition: all 0.2s ease-in-out;
	&:hover {
		opacity: 0.93;
	}
}

.albumName {
	font-weight: 500;
}
