@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.container{
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 0 0.5rem;
	background-color: $color-bg-secondary;
	font-family: $font-secondary;
	font-size: 0.8rem;
	line-height: 1.25;
	min-width: 30rem;
	user-select: none;


	@include small_tablet{
		min-width: 23rem;
		gap: 0.7rem;
	}
}

.img{
	min-width: 8rem;
	height: 8rem;
	margin: auto 0;
	user-select: none;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include small_tablet{
		min-width: 6rem;
		height: 6rem;
	}

}

.info{
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	margin-right: auto;
	font-weight: 500;
	padding: 1rem 0;
}

.name{
	font-weight: 600;
}

.quantityContainer{
	display: flex;
	align-items: center;
	gap: 0.2rem;

}

.minusBtn, .plusBtn{
	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-size: 1.5rem;
	&:hover{
		color: $color-secondary;
	}
}

.minusBtn.disabled{
	pointer-events: none;
	user-select: none;
	color: $color-border-secondary;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.quantityInputFake{
	text-align: center;
	border: none;
	width: 1rem;
	pointer-events: none;
	user-select: none;
	color: $color-secondary;
	font-size: 1rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.itemTotal{
	pointer-events: none;
	user-select: none;
	font-weight: 600;
	padding-top: 1rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn{
	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-size: 1.4rem;
	margin: .5rem 0 auto 1rem;
	&:hover{
		color: $color-secondary;
	}
}