@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.2rem;
}

.successText {
	font-size: 1.2rem;
	color: $color-tertiary;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.errorStatusContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.icon{
	width: 10rem;
	margin-bottom: 1.2rem;
}

.errorStatusText{
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.7rem;
}

.backLink{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: auto;
	align-self: center;
	border-radius: 8px;
	font-size: .8rem;
	padding: .8rem 1.5rem;
	background-color: $color-secondary;
	color: $color-bg;
	text-align: center;
	transition: all 0.2s ease-in-out;
	&:hover{
		opacity: 0.9;
	}
}
