@use '/src/styles/mixins.scss' as *;
@use '/src/styles/variables.scss' as *;

.container{
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	min-width: 12rem;
	font-family: $font-tertiary;
	font-size: 1.5rem;

	@include small_tablet{
		min-width: 9rem;
	}
}

.container.burgerMenu{
	display: block;
	color: $color-bg;
	text-align: center;
	margin: 4rem 0 2rem;
	font-size: 2rem;
}
